



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Blog</title>
  <link rel="stylesheet" href="/public/assets/css/style.css">
  <!-- <link rel="stylesheet" href="/public/assets/css/postpage.css"> -->
  
  
</head>

<body>
  <%- include('includes/header',{data:user}) %>




  <!-- ---------------------------------- -->
  <div class="mt-[90px]">
    <div class=" p-10">



        <main>
            <article class="article">

                <!-- 
        - #HERO
      -->








                <section class="section about" aria-label="about">
                    <div class="singlePage container">
                        <div class="details">
                            <div class="wrapper">
                                <!-- <div class="slider">
                                    <div class="bigImage">

                                      <img src="/uploads/<%= post.images[0] %>" alt="" onclick="setImageIndex(0)" />
                                    </div>
                                    <div class="smallImages">
                                      <% post.images.slice(1).forEach((image, index) => { %>
                                        <img src="/uploads/<%= image %>" alt="" key="<%= index %>"  />
                                      <% }) %>
                                    </div>
                                  </div> -->
                                   <div class="slider">
                                    <div class="bigImage">

                                        <div class="main-slider" id="mainSlider">
                                            <div class="slides-container">
                                                <% post.images.forEach((image, index) => { %>
                                                    <img src="/uploads/<%= image %>" alt="Image <%= image %>">
                                                
                                                  <% }) %>
                                                    
                                            </div>
                                        </div></div>
                                
                                  </div> 

                                  <div>
                                    <div class="thumbnail-slider" id="thumbnailSlider">
                                        <div class="slides-container">
                                            <% post.images.forEach((image, index) => { %>
                                                <img src="/uploads/<%= image %>" alt="Image <%= image %>">
                                            
                                              <% }) %>
                                        </div>
                                    </div>
                                  </div>
                               
                                  
                                

                                <div class="info">
                                    <div class="top">
                                        <div class="post">
                                            <h1 >
                                                <%= post.title %>
                                            </h1>
                                            <div class="address">
                                                <ion-icon name="location-outline"></ion-icon>
                                                <span>
                                                    <%= post.address %>
                                                </span>
                                            </div>
                                            <div class="price">$ <%= post.price %>
                                            </div>
                                        </div>
                                        <div class="user">
                                            <% if (user.avatar) { %>
                                                <img src="/uploads/<%= post.user.avatar %>" alt="">
                                            <% } else { %>
                                                <img src="/uploads/profile.png" alt="Default Image">
                                            <% } %>
                                            <span>
                                                <a href="/user/<%= post.user.username %>"><%= post.user.username %></a>
                                                
                                            </span>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <%= post.desc %>
                                        <%= post.phone %>
                                            <!-- Assuming postDetail.desc is already sanitized -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features">
                            <div class="wrapper">
                                <p class="title">General</p>
                                <div class="listVertical">
                                    <% if (post.utilities==="owner" ) { %>
                                        <div class="feature">
                                            <ion-icon name="hammer-outline"></ion-icon>
                                            <div class="featureText">
                                                <span>Utilities</span>
                                                <p>Owner is responsible</p>
                                            </div>
                                        </div>
                                        <% } else { %>
                                            <div class="feature">
                                                <ion-icon name="hammer-outline"></ion-icon>
                                                <div class="featureText">
                                                    <span>Utilities</span>
                                                    <p>Tenant is responsible</p>
                                                </div>
                                            </div>
                                            <% } %>
                                                <% if (post.pet==="allowed" ) { %>
                                                    <div class="feature">
                                                        <ion-icon name="logo-octocat"></ion-icon>
                                                        <div class="featureText">
                                                            <span>Pet Policy</span>
                                                            <p>Pets Allowed</p>
                                                        </div>
                                                    </div>
                                                    <% } else { %>
                                                        <div class="feature">
                                                            <ion-icon name="logo-octocat"></ion-icon>
                                                            <div class="featureText">
                                                                <span>Pet Policy</span>
                                                                <p>Pets not Allowed</p>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                            <div class="feature">
                                                                <ion-icon name="wallet-outline"></ion-icon>
                                                                <div class="featureText">
                                                                    <span>Income Policy</span>
                                                                    <p>
                                                                        <%= post.income %>
                                                                    </p>
                                                                </div>
                                                            </div>
                                </div>
                                <p class="title">Sizes</p>
                                <div class="sizes">
                                    <div class="size">
                                        <ion-icon name="wallet-outline"></ion-icon>
                                        <span>
                                            <%= post.size %> sqft
                                        </span>
                                    </div>
                                    <div class="size">
                                        <ion-icon name="bed-outline"></ion-icon>
                                        <span>
                                            <%= post.bedroom %> beds
                                        </span>
                                    </div>
                                    <div class="size">
                                        <ion-icon name="water-outline"></ion-icon>
                                        <span>
                                            <%= post.bathroom %> bathroom
                                        </span>
                                    </div>
                                </div>
                                <p class="title">Nearby Places</p>
                                <div class="listHorizontal">
                                    <div class="feature">
                                        <ion-icon name="school-outline"></ion-icon>
                                        <div class="featureText">
                                            <span>School</span>
                                            <p>
                                                <% if (post.school> 999) { %>
                                                    <%= post.school / 1000 %> km
                                                        <% } else { %>
                                                            <%= post.school %> m
                                                                <% } %>
                                                                    away
                                            </p>
                                        </div>
                                    </div>
                                    <div class="feature">
                                        <ion-icon name="logo-octocat"></ion-icon>
                                        <div class="featureText">
                                            <span>Bus Stop</span>
                                            <p>
                                                <%= post.bus %> m away
                                            </p>
                                        </div>
                                    </div>
                                    <div class="feature">
                                        <ion-icon name="fast-food-outline"></ion-icon>
                                        <div class="featureText">
                                            <span>Restaurant</span>
                                            <p>
                                                <%= post.restaurant %> m away
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <p class="title">Location</p>
                                <div class="mapContainer">
                                    <%- include('includes/smallmap', { data:[post]}) %>
                                </div>
                                <div class="buttons">
                                    <button>
                                        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                                        Send a Message
                                    </button>
                                    <button onclick="" style="background-color: #fece51' ">
                                        <ion-icon name="bookmark-outline"></ion-icon>
                                        Save the Place
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>







                <style>
                    .about .container {
                        grid-template-columns: 1.7fr 1fr;
                    }

                    .singlePage {
                        height: 100%;
                        color: var(--oxford-blue);
                    }

                    .singlePage .details {
                        flex: 3;
                        height: 100%;
                        overflow: hidden;
                    }

                    .singlePage .details .wrapper {
                        /* padding-right: 50px; */
                    }

                    .singlePage .details .wrapper .info {
                        margin-top: 50px;
                    }

                    .singlePage .details .wrapper .info .top {
                        display: flex;
                        justify-content: space-between;
                    }

                    .singlePage .details .wrapper .info .top .post {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }

                    .singlePage .details .wrapper .info .top .post h1 {
                        font-weight: 400;
                    }

                    .singlePage .details .wrapper .info .top .post .address {
                        display: flex;
                        gap: 5px;
                        align-items: center;
                        font-size: 14px;
                    }

                    .singlePage .details .wrapper .info .top .post .address img {
                        width: 16px;
                        height: 16px;
                    }

                    .singlePage .details .wrapper .info .top .post .price {
                        padding: 5px;
                        background-color: rgba(254, 205, 81, 0.438);
                        border-radius: 5px;
                        width: max-content;
                        font-size: 20px;
                        font-weight: 300;
                    }

                    .singlePage .details .wrapper .info .top .user {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 20px;
                        padding: 0px 50px;
                        border-radius: 10px;
                        background-color: rgba(254, 205, 81, 0.209);
                        font-weight: 600;
                    }

                    .singlePage .details .wrapper .info .top .user img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .singlePage .details .wrapper .info .bottom {
                        margin-top: 50px;
                        line-height: 20px;
                    }

                    .singlePage .features {
                        flex: 2;
                        background-color: #fcf5f3;
                        height: 100%;
                        overflow: auto;
                    }

                    .singlePage .features .wrapper {
                        padding: 0px 20px;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }

                    .singlePage .features .wrapper img {
                        width: 24px;
                        height: 24px;
                    }

                    .singlePage .features .wrapper .title {
                        font-weight: bold;
                        font-size: 18px;
                        margin-bottom: 10px;
                    }

                    .singlePage .features .wrapper .feature {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }

                    .singlePage .features .wrapper .feature img {
                        background-color: rgba(254, 205, 81, 0.209);
                    }

                    .singlePage .features .wrapper .feature .featureText span {
                        font-weight: bold;
                    }

                    .singlePage .features .wrapper .feature .featureText p {
                        font-size: 14px;
                    }

                    .singlePage .features .wrapper .listVertical {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        padding: 20px 10px;
                        background-color: white;
                        border-radius: 10px;
                    }

                    .singlePage .features .wrapper .listHorizontal {
                        display: flex;
                        justify-content: space-between;
                        padding: 20px 10px;
                        background-color: white;
                        border-radius: 10px;
                    }

                    .singlePage .features .wrapper .sizes {
                        display: flex;
                        justify-content: space-between;
                    }

                    .singlePage .features .wrapper .sizes .size {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        background-color: white;
                        padding: 10px;
                        border-radius: 5px;
                    }

                    .singlePage .features .wrapper .buttons {
                        display: flex;
                        justify-content: space-between;
                    }

                    .singlePage .features .wrapper .buttons button {
                        padding: 20px;
                        display: flex;
                        align-items
                </style>


            </article>
        </main>


    </div>
  </div>



</body>

</html>










































<style>
    .singlePage {
        margin-top: 50px;
    }
    .slider {
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;
}

.slider.sm {
  height: 280px;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.slider .bigImage {
  flex: 3;
}

.slider .bigImage.sm {
  flex: 2;
}

.slider .smallImages {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.slider .smallImages.sm {
  flex: 1;
}

.slider .smallImages img {
  height: 100px;
}

.slider .smallImages img.sm {
  height: 80px;
}
</style>
<style>
    .about .container {
    grid-template-columns: 1.7fr 1fr;
}



.singlePage {
    margin-top: 50px;
}

.singlePage {
    color: var(--darkreader-text--oxford-blue);
    height: 100%;
    color: var(--oxford-blue);
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
        width: 100%;
        margin-inline: auto;
    }
}

@media (min-width: 768px) {
    .container, .hero-form-wrapper {
        max-width: 700px;
    }
}


@media (min-width: 992px) {
    .container, .hero-form-wrapper {
        max-width: 900px;
    }
}

@media (min-width: 1200px) {
    .container, .hero-form-wrapper {
        max-width: 1120px;
    }
}

.container {
    padding-inline: 15px;
}

@media (min-width: 768px) {
    .about .container {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        align-items: center;
        gap: 30px;
    }
}

@media (min-width: 992px) {
    .about .container {
        gap: 50px;
    }
}


</style>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>




<style>
    /* Styles for main slider */
.main-slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.main-slider .slides-container {
    display: flex;
    transition: transform 0.5s ease;
}

.main-slider img {
    width: 100%;
    height: auto;
}

/* Styles for thumbnail slider */
.thumbnail-slider {
    width: 100%;
    overflow-x: auto;
    margin-top: 10px;
}

.thumbnail-slider .slides-container {
    display: flex;
}

.thumbnail-slider img {
    width: 100px;
    height: auto;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 10px;
}
.main-slider {
    width: 100%;
    height: 300px; /* Adjust height as needed */
    overflow: hidden;
    position: relative;
}

.main-slider .slides-container {
    display: flex;
    transition: transform 0.5s ease;
}

.main-slider img {
    width: 100%;
    height: auto;
}

.main-slider .slides-container img {
    flex: 0 0 100%; /* Ensure each image occupies the full width of the container */
}
.main-slider {
    height: auto;
}

</style>


<script>
    document.addEventListener('DOMContentLoaded', function () {
    const mainSlider = document.getElementById('mainSlider');
    const mainSlidesContainer = mainSlider.querySelector('.slides-container');
    const mainImages = mainSlidesContainer.querySelectorAll('img');

    const thumbnailSlider = document.getElementById('thumbnailSlider');
    const thumbnailSlidesContainer = thumbnailSlider.querySelector('.slides-container');
    const thumbnailImages = thumbnailSlidesContainer.querySelectorAll('img');

    // Add click event listeners to thumbnail images
    thumbnailImages.forEach((thumbnail, index) => {
        thumbnail.addEventListener('click', () => {
            // Set active class on clicked thumbnail
            thumbnailImages.forEach(img => img.classList.remove('active'));
            thumbnail.classList.add('active');

            // Scroll main slider to corresponding image
            mainSlidesContainer.style.transform = `translateX(-${index * 100}%)`;
        });
    });

    // Set first thumbnail image as active by default
    thumbnailImages[0].classList.add('active');
});

</script>